#mentions-bar-chart {
  position: relative;
}

#mentions-bar-chart .axis text {
  font-size: 18px;
  color: #333;
}

#mentions-bar-chart .x text {
  font-size: 14px;
  color: #a3a3a3;
}

#mentions-bar-chart .axis path,
#mentions-bar-chart .axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

#mentions-bar-chart .x path {
	display: none;
}

#mentions-bar-chart .toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #f9f9f9;
  border: 1px solid #D4D8DA;
  padding: 5px;
  text-align: center;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
}