.bg-green {
  background-color: #096a42;
}

.bg-blue {
  background-color: #012989;
}

.bg-yellow {
  background-color: #dcd607;
}

.text-blue {
  color: #0238b8;
}

.text-green {
  color: #099b39;
}

.text-red {
  color: #c20000;
}

.top-background {
  /* background-image: linear-gradient(to right top, #096a42, #378841, #66a438, #9dbf27, #dcd607)!important; */

  /* background: rgb(1,41,137)!important;
  background: linear-gradient(90deg, rgba(1,41,137,1) 0%, rgba(9,106,66,1) 50%, rgba(220,214,7,1) 100%)!important; */

  background: rgb(1, 41, 137);
  background: linear-gradient(90deg, rgba(1, 41, 137, 1) 0%, rgba(9, 106, 66, 1) 100%) !important;

  /* background: linear-gradient(90deg, rgba(1,41,137,1) 0%, rgba(9,106,66,1) 30%, rgba(9,106,66,1) 70%, rgba(220,214,7,1) 100%)!important; */
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 100px 0;
  }
}

.main-article > * {
  margin-left: 190px;
  margin-right: 190px;
}

@media (max-width: 992px) {
  .main-article > * {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.main-article .wide-chart {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.main-article .wide-chart-sm {
  margin-left: 140px;
  margin-right: 140px;
}

.chart-caption {
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 15px 0 30px;
}

.copyright {
  margin: 0;
}

.img-candidate {
  display: block !important;
  max-height: 200px;
  max-width: 100%;
  height: auto;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 0.25rem !important;
}

.line {
  fill: none;
  stroke: #012989;
  stroke-width: 2px;
}

.stroke-blue {
  stroke: #012989;
}

.stroke-red {
  stroke: #c20000;
}

.stroke-gray {
  stroke: #999;
}

#bubble-chart {
  position: relative;
}

.table-box-title {
  font-size: 14px;
  font-weight: bold;
  margin: 14px 10px !important;
}

.table-fixed {
  table-layout: fixed;
  word-wrap: break-word;
}

.chart-table-container {
  height: 500px;
  overflow: auto;
}

.chart-table-container #google_translate_element {
  text-align: center;
  padding-top: 5px;
}

#top-clusters-table {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#top-clusters-table table tr:hover {
  cursor: default;
}
#top-clusters-table table td {
  vertical-align: middle;
}
#top-clusters-table table td span {
  vertical-align: bottom;
}

.propagation-speed-chart {
  position: relative;
}

.x text {
  font-size: 14px;
  color: #a3a3a3;
}

.y text {
  color: #a3a3a3;
  font-size: 14px;
}

.axis path,
.axis line {
  color: #d4d8da;
}

.chart {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.chart text {
  font-size: 14px;
  fill: #a3a3a3;
}

g.legend {
  cursor: pointer;
}

/* Cluster size slider */

.noUi-vertical {
  margin: 30px 0px;
  width: 8px;
  height: 450px;
}

.noUi-connect {
  background: #4462a8;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-vertical .noUi-handle {
  width: 20px;
  height: 20px;
  left: -7px;
}

.noUi-handle:focus {
  outline-style: none;
}

.noUi-tooltip {
  color: #a3a3a3;
  font-size: 13px;
}

/* Legends for the bar chart */

.legend-container {
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}
.legend {
  display: inline-block;
  padding: 0 10px;
}

.legend .block {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #c20000;
}
